.explore-container {
    width: 100%;
    margin-top: 100px;
    padding: 50px 0;
    background-color: #f2f3fa;
}

.top--100 {
    top: -100px !important;
    position: relative;
}

.top-200 {
    top: -200px !important;
    position: relative;
}

.top-350 {
    top: -325px !important;
    position: relative;
}

.expolore-end {
    height: 300px;
}
