.change-password-custom {
  flex: 3;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .header {
    font-size: 2.5rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #030637;
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      font-weight: 600;
      display: block;
      font-size: 1rem;
      margin-bottom: 5px;
      color: #333;
    }

    // input {
    //   width: 100%;
    //   padding: 10px;
    //   font-size: 14px;
    //   border: 1px solid #ccc;
    //   border-radius: 4px;

    //   &:focus {
    //     border-color: #007bff;
    //     outline: none;
    //   }
    // }
  }

  .btn-submit {
    width: 100%;
  }
}
